{% extends "layouts/base.html" %}

{% block title %} Charts {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <script>
        window.onload = function () {

        var dps = []; // dataPoints
        var chart = new CanvasJS.Chart("chartContainer", {
            title :{
                text: "Dynamic Data"
            },
            data: [{
                type: "line",
                dataPoints: dps
            }]
        });

        var xVal = 0;
        var yVal = 100;
        var updateInterval = 1;
        var dataLength = 500; // number of dataPoints visible at any point

        var updateChart = function (count) {

            count = count || 1;

            for (var j = 0; j < count; j++) {
                yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                dps.push({
                    x: xVal,
                    y: yVal
                });
                xVal++;
            }

            if (dps.length > dataLength) {
                dps.shift();
            }

            chart.render();
        };

        updateChart(dataLength);
        setInterval(function(){updateChart()}, updateInterval);

        }
    </script>

	<div class="content">
		<div class="page-inner">
			<h4 class="page-title">Chart.js</h4>
			<div class="page-category">Simple yet flexible JavaScript charting for designers & developers. Please checkout their <a href="https://www.chartjs.org/" target="_blank">full documentation</a>.</div>
			<div class="row">
				<div class="col-md-6">


                    <div id="chartContainer" style="height: 370px; width: 100%; "></div>


				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Multiple Bar Chart</div>
						</div>
						<div class="card-body">
							<div class="chart-container">
								<canvas id="multipleBarChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Chart with HTML Legends</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								Sometimes you need a very complex legend. In these cases, it makes sense to generate an HTML legend. Charts provide a generateLegend() method on their prototype that returns an HTML string for the legend.
							</div>
							<div class="chart-container">
								<canvas id="htmlLegendsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugin/CanvaJS/canvasjs.min.js"></script>

{% endblock javascripts %}
