{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">

		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
						<h5 class="text-white op-7 mb-2">DashBoard for BallBot Debugging </h5>
					</div>
					<div class="ml-md-auto py-2 py-sm-0">
						<a href="#" class="btn btn-white btn-border btn-round mr-2">Connection: </a>
						<span id="connection" class="fas fa-link">Not Connected</span>
					</div>
				</div>
			</div>
		</div>

            <div class="row mt--3">

				<div class="col-md-4 ">
					<div class="card full-height btn btn-defalt">
						<div class="card-body">
							<div class="card-title">IMU Statistics</div>
							<div class="card-category">BMO-055 Data analisys</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4"></div>
                            </div>
                    </div>
                </div>

                <div class="col-md-4 btn-secondary">
					<a class="card full-height btn btn-secondary" href="imucharts">
						<div class="card-body">
							<div class="card-title">IMU Statistics</div>
							<div class="card-category">BMO-055 Data analisys </div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4"></div>
                        </div>
                    </a>
                </div>

               <div class="col-md-4">
					<div class="card full-height btn btn-default">
						<div class="card-body">
							<div class="card-title">Overall statistics</div>
							<div class="card-category">Daily information about statistics in system</div>
                            <div class="d-flex flex-wrap justify-content-around pb-2 pt-4"></div>
                            </div>
                    </div>
                </div>

            </div>

        </div>

        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script>
		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})


    socket.on('test', function(msg) {
        console.log("passa perq ui");
    });

	</script>

{% endblock javascripts %}
